* {

}

.center{
  padding-left: 5%;
  padding-top: 5%;
}

.shadow{
    width: 80%;
    height: 65px;
    box-shadow: 5px 5px 5px lightslategray;
  }

.container {
    border: solid lightgray;
    width: 99.8%;
    height: 30px;
    display: flex;
    align-items: center;
  }
.checkout {
    width: 15%;
    display: flex;
    padding-left: .5%;
    align-items: center;
  }

.indicator {
  
  width: 82%;
  display: flex;
  padding-left: 2%;
  align-items: center; 
}

.padding {
  padding-left: 2%;
}

.block {

    border-bottom: solid lightgray;
    border-left: solid lightgray;
    border-right: solid lightgray;
    width: 99.8%;
    height: 30px;
    display: flex;
    
  }

.payment {
  width: 60%;
  display: flex;
  padding-left: .5%;
  align-items: center;
}
.cart {
  width: 40%;
  display: flex;
  padding-left: .5%;
  background-color: lightgray;
  align-items: center;
}
.image {
  height: 20px;
  width: 20px;
  padding-right: 2%;
  align-items: center;
}
